
head {
	margin: 0;
	padding: 0;

}

html, body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    max-height: auto;
    /* background-color: rgba(95, 158, 160, 0.644); */
}

.title{
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* height: auto; */
    border-bottom: 2px solid black;
    font-size: 170%;
}

.all_container{
    display: flex;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 80%;
    height: auto;
    align-items: stretch;
    flex-wrap: wrap;
}

.news_list_container{
    display: block;
    max-height: none;
    flex: 15%;
    align-self: stretch;
}

.news_container{
    display: flex;
    box-shadow: 10px 0px 3px -7px lightblue; 
    /* height: auto; */
    min-height: 100px;
    max-width: 100%;
    padding: 4%;
    align-items: center;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 1px solid grey;
    background-color: whitesmoke;
    color: cadetblue;
}

.news_container:hover{
    border: 1px solid cadetblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 10px 0px 7px -3px cadetblue;
}



.news_container p{
    font-size: 100%;
    /* color: black; */
}

.news_expanded_container{
    flex: 75%;
    max-height: 500px;
    /* max-height: 60%; */
    padding: 2%;
}

.news_article{
    display: none;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    /* overflow: auto; */
    border: 2px solid black;
}

.news_article .mytitle{
    font-size: 130%;
    height: auto;
    width: 100%;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    text-align: center;
}

.news_article .mycontent{
    word-spacing: 2%;
    overflow: auto;
    max-height: 100%;
}


.inner_con{
    width:100%;
    height: 100%;
    border: 2px solid green;
    display: block;
}


.news_article form{
    font-size: 130%;
}


.news_article form label{
    /* background-color: pink; */
    text-decoration: underline;
    margin: 2%;
}


.news_article form input{
    width: 10%;
    margin: 2%;
}