head {
	margin:0;
	padding:0;
}
html, body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    max-height: auto;
}

.subtitlerow {
	width: auto;
	margin-left: 8%;
	margin-right: 8%;
	height: auto;
	display: flex;
}

.subtitlerow .subSteptitle {
	margin: auto;
	width: 30%;
	font-size: 20px;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-content: center;
	border-radius: 12px;
}

/* forms... */
form fieldset {
	margin: 0;
	width: 100%;
	height: auto;
}

.form_container {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	margin-bottom: 5%;
	height: auto;
	/* background-color: pink; */
	display: flex;
}

.col {
	width: 40%;
	height: 100%;
	margin: auto;
	/* background-color: powderblue; */
}

form fieldset .FisrtsContainer {
	display: block;
}

.form_container .FisrtsContainer {
	margin: 5%;
}

.subtitlerow .completed {
	border: transparent;
	background-color: powderblue;
}

.subtitlerow .active {
	 border-bottom: 2px solid CadetBlue;
	 background-color: powderblue;
}

/* .DepartmentMenu:required {
	border: 1px solid red;
} */

/* APPOINTMENT info */

.form_container input[type=text], .FisrtsContainer select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form_container input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form_container input[type=submit]:hover {
  background-color: #45a049;
}

.form .form_container label {
	color: grey;
	margin: 4%;
}

.FisrtsContainer .DepartmentMenu {
	align-self: center;
	overflow: hidden;

}

.submitRow {
	width: auto;
	height: auto;
	margin-top: 0;
	margin: 2%;
	display: flex;
	justify-content: center;
}

.submitRow input[type=submit], input[type=button] {
  background-color: whitesmoke;
  height: 100%;
  padding: 1%;
  width: 20%;
  align-self: center;
  border: none;
  border-radius: 12px;
  font-size: 20px;
}

.submitRow input[type=submit]:hover, input[type=button]:hover {
  background-color: #45a049;
}

.CompleteMsg {
	height: 100%;
	color: green ;
	padding: 1%;
	padding-left: 40%;
	padding-right: 40%;
	text-align: center;
	align-self: center;
	background-color: lightgreen;
	font-size: 23px;
}

/* personal info */
