.login-container {
	width: 40%;
	height: 100%;
  	display:  inline-block;
  	position: relative;
}

.language-container {
  position: relative;
  width: 80%;
	height: 20%;
	display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
}

  .log_in {
    position: relative;
	  height: 80%;
	  max-width: 100%;
    display: flex;
    margin: 0;
    align-content: center;
    justify-content: flex-start;
    /* border: 2px solid red; */
  }

  .logged_in{
    position: relative;
    height: 80%;

    max-width: 100%;
    display: none;
    margin: 0;
    /* border: 2px solid red; */
  }


  .login_form_container{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    max-height: 80%;
  }

  .login_submit_container{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    max-width: auto;
    max-height: auto;
    padding-top: 2%;
    vertical-align: middle;
    /* border: 2px solid red; */
  }

  .log_in form{
    float: left;
  }

  .log_in input[type=text], .log_in input[type=password], .log_in select, .log_in textarea {
    width: 45%;
	  height: 30%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 80%;
  }

  .log_in input[type=text]:hover, .log_in input[type=password]:hover {
    background-color: rgb(136, 191, 236);
  }


  .log_in label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .log_in input[type=submit] {
    background-color: #44b84a;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .log_in input[type=submit]:hover {
    background-color: #43a547;
    color: rgb(172, 194, 166);
  }


  .container {
    border-radius: 5px;
    /* background-color: red; */
    padding: 20px;
  }

  .profile_actions{
    display: flex;
    min-height: 3%;
    min-width: 7%;
    width: auto;
    color: rgba(128, 128, 128, 0.89);
    margin-top: 2%;
    /* border: 2px solid red; */
    padding: 3px;
  }

  


  select-selected{
    background-color: yellow;
  }

  .profile_actions select{
    background-color: transparent;
    border: 2px solid green;
    border:none;
    box-shadow: none;
  }

  .profile_actions select-selected{
    background-color: none;
    border:none;
    box-shadow: none;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .taxis {
	  text-align: right;
	  width: auto;
  }
